In [8]:
import pandas as pd
MS_Name = 'VLASS2.1.sb38611939.eb38656872.59108.99831386574'
allsourcedf = pd.read_csv('No_VLA_Obs_Data_and_MS.csv')

In [12]:
sig_source_df = allsourcedf[allsourcedf['MeSet'] == MS_Name]

In [13]:
sig_source_df

,J-Name,RA,DEC,MeSet,Unnamed: 4
1,J1413+3947,213.25162,39.79588,VLASS2.1.sb38611939.eb38656872.59108.99831386574,NaN